

.teamCrimson {
 color: crimson;
}
.teamTeal {
 color: teal;
}
.captain {
 font-weight: bold;
}


.photo {
 height: 100px;
 width: 200px;  
 border-radius: 30px;
}

.population {
 border: solid 5px plum;
}

.funFact {
 border: solid 5px green;
}

p {
 border-radius: 10px;
}

img {
 width: 100px;
 height: 100px;
 margin: 10px;
 border: solid olive;
 padding: 5px;
}

h2 {
 background-color: lightGray;
 margin: 10px;
 padding-top: 30px;
 padding-bottom: 10px;
 width: 250px;
 border: solid olive;
 text-align: center;
}
