

.teamCrimson {
 color: crimson;
}
.teamTeal {
 color: teal;
}
.captain {
 font-weight: bold;
}


.photo {
 height: 100px;
 width: 200px;  
 border-radius: 30px;
}

.population {
 border: solid 5px plum;
}

.funFact {
 border: solid 5px green;
}

p {
 border-radius: 10px;
}

img {
 width: 100px;
 height: 100px;
 margin: 10px;
 border: solid olive;
 padding: 5px;
}

h2 {
 background-color: lightGray;
 margin: 10px;
 padding-top: 30px;
 padding-bottom: 10px;
 width: 250px;
 border: solid olive;
 text-align: center;
}


p {
 background-color: dimGray;
 margin-top: 80px; 
 margin-left: 30px;
 margin-right: 30px;
 padding: 20px;
}

h3 {
 margin: 20px;
}

h1 {
  margin-top: 30px;
}

a {
 color: red;
}

img {
 margin: 40px;
 height: 40px;
 width: 150px;
}

body {
 background-color: white;
 color: white;
 text-align: center;
 font-family: "Verdana", sans-serif;
}

h2 {
 margin: 40px 30px 30px 30px;
}

p {
 margin: 30px 30px 0 30px;
}

button {
 font-size: 18px;
 background-color: purple;
 color: white;
 border-radius: 30px;
 margin: 30px 0 0 0;
}

body {
 text-align: center;
}

img {
 border-radius: 10px;
}

body {
 text-align: center;
}

h2 {
 background-color: aliceBlue;
 margin: 40px 30px 30px 30px;
 border-radius: 0 30px 30px 0;
}

img {
 background-color: lightBlue;
 width: 100px;
 padding: 10px;
 border-radius: 20px;
 margin: 10px 5px 0 5px; 
}

button {
 background-color: darkCyan;
 color:white;
 padding: 5px 15px 5px 15px;
 margin: 25px 0 0 0;
 border-radius: 0 30px 30px 0;
}

p {
 background-color: aliceBlue;
 padding: 5px 10px 5px 10px;
 margin: 30px 30px 0 30px;
 border-radius: 15px 0 15px 0;
}


body {
 text-align: center;
 background-color: lightBlue;
}

h3 {
 font-family: Courier New;
 transform: rotate(-8deg);
 font-style: italic;
}

img {
 border-radius: 150px;
 transform: rotate(15deg);
}